a:visited{
    color: green;
    background-color: orange;
}
a:active{
    border: 3px solid red;
}
a:hover{
    font-size: 24px;
}
a:link{
    color: white;
    background-color: black;
}
button[disabled]{
   border: 2px dashed grey;
}
button:enabled:hover{
    color: white;
    background-color: grey;
}
.search:focus{
    background-color: orange;
}
.confirm-checkbox:checked{
   margin-left: 20px;
}