body{
    display: flex;

}
.block{
    height: 300px;
    width: 400px;
    flex-wrap: wrap;
}
.block_yellow{
    background-color: yellow;

}
.block_green{
    background-color: green;

}
.block_blue{
    background-color: blue;

}
.block_red{
    background-color: red;

}
.block_black{
    background-color: black;
}