.image-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-image{
    margin: 200px auto 0;
    display: block;
    max-width: 100%;
    border-radius: 20px;

}
.gallery{
    display: flex;
}
.card-opacity-1{
    filter: opacity(50%);
}
.card-opacity-2{
    filter: blur(4px);
}
.card-opacity-3{
    filter: invert(100%);
}
.card{
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.name{
    line-height: 30px;
    text-align: center;
    text-transform: lowercase;
}