*{
    box-sizing: border-box;
}
header{
    text-align: center;
    align-items: center;

}
.articles-list{
    display: flex;
    flex-wrap: wrap;

}




.article{
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    min-width: 300px;
    flex-grow: 1;




}
