* {
    box-sizing: border-box;
}
.content{
    display: flex;
    min-height: 100vh;
}
.gallery{
    width: 80%;
    background-color: #fa5;
    display: flex;
}
.ideas{
    width: 20%;
    background-color: #5af;
    display: flex;
}
.image{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    margin: auto;
    max-width: 100%;
}
.idea{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px;
    display: flex;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}