*{
    box-sizing: border-box;
}
.container{
    width: 50%;
    float: left;
}
.red{
    float: right;
    background-color: red;
}
.green{
    float: left;
    background-color: green;
}
.footer{
    clear: both;
   height: 30px;
}