div{
    height: 500px;
    width: 300px;
    background-image: url("nature.jpeg");
    background-position: center;
    background-size: cover;
}
.mountains{
    font-size: 32px;
    color: white;
    margin-top: 32px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;


}