* {
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-shrink: 1;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.header{
    color: white;
    background: linear-gradient(60deg, red, orange);
    text-align: center;
    align-items: center;

}
.header h1{
    margin: auto;

}
.main {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    font-size: 1.25em;
    padding: 0.5em;
}

.footer{
    background-color: #e5e5e5;
    text-align: center;
    padding: 0.5em;
}

.section{
   align-items: center;
    width: 60%;

}
.section__header{
    text-align: center;
}
.nav-list{
    list-style-type: none;
    line-height: 1.75em;


}
.navigation{
    width: 20%;



}
.nav-list-link{
    text-decoration: none;
    color: white;
    background-color: #808080;
    display: inline-block;
    margin-bottom: 0.5em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}
.css-units{
    color: #8b0000;
    background-color: #e5e5e5;
    font-weight: 700;
}
.news{
    width: 20%;
}


