*{
    box-sizing: border-box;
}
tr, td {
    height: 50px;
    width: 50px;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: 16px;
}
tbody > .r:nth-child(even){
    background-color: black;
}

.chess .odd .first:nth-child(even){
    background-color: black;
}
.chess .even .second:nth-child(odd){
    background-color: black;
}
.head{
    text-align: center;
    display: inline-block;
}
.top{
    text-align: center;
}