*{
    box-sizing: border-box;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    padding: 4px;
    text-align: right;
}
table{
    width: 500px;
    margin: 16px;
}
