*{
    box-sizing: border-box;
}
div{
    height: 500px;
    width: 300px;
}
.mountains{
    font-size: 32px;
    color: white;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    height: 500px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg");
    background-position: center;
    background-size: cover;
    align-items: center;
}
