* {
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #555;
    display: flex;
    flex-direction: column;
    height: 100vh;


}
.header{
    color: white;
    background: linear-gradient(60deg, red, orange);
    text-align: center;


}
.footer{
    display: flex;
    background-color: #e5e5e5;
    padding: 0.5em;
}
.main{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25em;
    line-height: 1.75em;
    align-items: center;

}
.section{
    flex-direction: column;
}
.section__header{
    text-align: center;
}
.css-units{
    color: #8b0000;
    background-color: #e5e5e5;
    font-weight: 700;
}
.navigation{
    padding: 0.5em;


}
.nav-list-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: grey;
    align-self: center;
    color: white;
    margin: 5px;
}
.nav-list-item{
    list-style-type: none;

}
aside p{
    display: flex;

}