*{
    box-sizing: border-box;
}
html{
    background-color: bisque;
    font-size: 16px;
    font-family: monospace;

}
.page{
    background-color: aqua;
    width: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
}
.form-title{
    text-align: center;
    text-transform: uppercase;
}
.form-control{
    margin-bottom: 8px;
}
.form-label{
    margin-bottom: 10px;
    padding-bottom: 8px;
}
.form-input{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 4px;
    outline: none;
}
.submit-button{
    width: 100%;
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    border: none;
}
.form-input:invalid{
    border: 3px solid #ff0000;
}