li{
    margin-bottom: 16px;
}
a[target="_blank"]{
    border: 2px solid black;
}
[href^="broken"]{
    border: 2px solid red;
}
a[src$=".com"]{
    margin-left: 50px;
}
a[lang|=en]{
    font-size: 10px;
}
a[href*="www"]{
    color: green;
}
[title~="popular"]{
    font-size: 24px;
}
