*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    margin: 16px;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px dotted grey;
    background-position: center;
}