*{
    box-sizing: border-box;
}
.image{
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px dotted grey;
    background-position: center;
    display: inline-block;
    margin: 16px;

}
.gallery{
    display: flex;
}