*{
    box-sizing: border-box;
}
.container{
    margin: 32px;
    text-align: center;
    align-items: center;
    line-height: 100px;
}
.rect{
    height: 100px;
    width: 100px;
    background-color: coral;
    margin-bottom: 16px;
    transition-property: width, opacity;
    transition-duration: 2s, 0.5s;
    opacity: 0.5;




}
.rect:hover{
    width: 100%;
    opacity: 1;
}
.linear{
    transition-timing-function: linear;
}
.ease{
    transition-timing-function: ease;
}
.ease-in{
    transition-timing-function: ease-in;
}
.ease-out{
    transition-timing-function: ease-out;
}
.ease-in-out{
    transition-timing-function: ease-in-out;
}