div > div {
    width: 100px;
    height: 100px;
    background: coral;
}
div div:nth-child(1){
    display: none;
}
div:nth-child(2){
    visibility: hidden;
}
div > div:nth-child(3){
    visibility: visible;
}