
.custom-button{
    width: 200px;
    height: 50px;
    background-color: coral;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Courier New", Courier , monospace;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin: 64px;
    line-height: 50px;
}
.icon{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: white;

}
.custom-button:hover > .icon{
    color: darkcyan;
}

.custom-button:hover{
        color: darkcyan;
    }
.icon:hover{
    fill: green;
}