.header-text{
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    font-size: 96px;
    background: linear-gradient(45deg,yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}