body{
    display: flex;
    height: 100vh;
}
.fancy-button{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, yellow, red);
    margin: auto;
    animation: jump 0.5s .4s, spin .5s, hide 1s 2s forwards;
    
}
@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2000px);
    }
}