html{
    font-size: 18px;
}
.properties-list__item{
    color: #f39;
    font-size: 24px;
    line-height: 32px;
    padding: 8px;
}
.properties-list{
    list-style-type: none;
    color: #f39;
    font-size: 24px;
    line-height: 32px;
}