.super-important.highlighted{
    background-color: red;
}
.highlighted{
    color: yellow;
}
span.user-data{
    color: yellow;
}

li.user-data{
    font-size: 24px;
}
span{
    font-size: 10px;
}