body{
    background-color: #bdc3c7;
}
h1{
    color: #9b59b6;
}
h2{
    color: orange;
}
li{
    color: blue;
}
p{
    background-color: yellow;
}
input{
    border: 3px solid red;
}
.hello{
    background-color: white;
}
#special{
    border: 2px solid blue;
}
p{
    font-size: 25px;
}
input[type="text"]{
    background-color: grey;
}

