*{
    box-sizing: border-box;

}
body{
    background-color: bisque;
    font-family: monospace;
    font-size: 16px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
.login-form{
    display: block;
    background-color: aqua;
    width: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.form-title{
    text-transform: uppercase;
    text-align: center;
}
.form-input{
    display: block;
    padding: 4px;
    margin-bottom: 8px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
}
.form-label{
    display: block;
    margin-bottom: 4px;
}
.submit-button{
    width: 100%;
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
}
.form-control{
    margin-bottom: 8px;
}
.form-input:invalid{
    border: 3px solid #ff0000;
}
