*{
    box-sizing: border-box;
}
html{
    font-family: Verdana;
}
.h1{
    font-size: 74px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50vw;
    margin: auto;

}
div{
    height: 200px;
    text-align: center;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    line-height: 200px;
}
