* {
    box-sizing: border-box;
}
.articles{
    display: flex;
}
.articles > div{
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;

}
.cropped{
    overflow: hidden;
}
.both-scrolls{
    overflow: scroll;
    cursor: all-scroll;
}
.vertical-scroll{
    overflow-y: auto;
}