li {
    margin-bottom: 16px;
}
ol span {
    color: white;
    background-color: green;
}
ul span{
    background-color: orange;
    color: white;
}
#special + li > span{
    border: 3px solid red;
}
#special ~ li {
    margin-left: 16px;
}

