html{
    font-family: Verdana;
}
h1{
    font-size: 74px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50vh;
    text-align: center;
    margin: 16px auto;

}
div{
    height: 200px;
    text-align: center;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    line-height: 200px;
}
