li{
    list-style-type: none;
    font-size: 1.5em;
}
.third{
    text-decoration: green underline;
}
.second{
    text-decoration-line: line-through;
}
.first{
    text-decoration: red overline;
}