section {
    margin: 32px;
}
html{
    font-family: Roboto , sans-serif;
    font-size: 18px;
}
h1{
    word-spacing: 20px;
    text-transform: uppercase;
}
p{
    line-height: 28px;
}
.name{
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: underline;
    opacity: 80%;

}
[href]{
    text-decoration: none;
}
.eng{
    color: grey;
}